// Fonts
$font-family--base: 'Helvetica', sans-serif;

$font-size--xxl: 1.75rem;
$font-size--xl: 1.5rem;
$font-size--l: 1.25rem;
$font-size--m: 1rem;
$font-size--s: 0.75rem;
$font-size--base: 100%; // 16px
$font-size--base--small: 87.5%; // 14px

$line-height--base: 1.5;

$font-weight--light: 300;
$font-weight--regular: 500;
$font-weight--bold: 700;
$font-weight--base: $font-weight--regular;


// Base Colors
$primary-color: #526CFF !default;
$primary-color--lightest: scale-color($primary-color, $lightness: 85%);
$primary-color--darkest: scale-color($primary-color, $lightness: -70%);

$blue: #3C85EF;
$green: #5A8B74;
$green--light: #eff5f2;
$yellow: #F1E298;
$orange: #F0AE77;
$red: #D7655C;

$black: $primary-color--darkest;
$gray: #ADADBC;
$gray--light: #F5F5F7;
$white: #FFFFFF;

$color--success: $green;
$color--warning: $orange;
$color--error: $red;


// Element colors
$font-color: $black;

$header-bg-color: $primary-color--lightest;

$bg-color: $white;
$bg-color--alt: $gray--light;

$link-color: $primary-color;
$link-color--hover: scale-color($link-color, $lightness: -20%);

$button-color: $primary-color;
$button-color--hover: scale-color($link-color, $lightness: -20%);


// Layout
$spacing: 1.5rem;
$half-spacing: $spacing/2;
$quarter-spacing: $spacing/4;

$page-side-padding: $half-spacing;
$page-vertical-padding: $spacing*2;
$page-padding: $page-vertical-padding $page-side-padding;

$page-max-width: 980px;


// Breakpoints
$small-upper-bound: 640px;
$large-lower-bound: 1441px;

$small: 'only screen and (max-width: $small-upper-bound)';
$medium: 'only screen and (min-width: $small-upper-bound)';
$large: 'only screen and (min-width: $large-lower-bound)';
