// Import & extend the design system.

@import 'styles/design-system/index';

.header {
	background: $header-bg-color;
}

.header__inner {
	height: 80px;
	width: 100%;
	max-width: $page-max-width;

	margin: 0 auto;
	padding: 0 $page-side-padding;

	display: flex;
	align-items: center;
	justify-content: space-between;

	@media #{$small} {
		text-align: center;
		display: block;
		height: auto;
		padding: $spacing $page-side-padding;
	}
}

.header__logo {
	width: 180px;
	color: $primary-color;
}
